.progress-bar {
  position: relative;
  overflow: hidden;

  height: 6px;

  box-shadow:
          inset 0 1px 0 0 $pencil,
          inset 0 -1px 0 0 $pencil;

  &__indicator {
    height: 100%;
    width: 100%;
    background-color: $sky;

    transform: translateX(-100%);

    transition: transformX $transition-time;
  }
}